<a href="https://colab.research.google.com/github/25040992-hann/Probabilidad-/blob/main/Unidad1/practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y Estadística
## Unidad 1
### Facilitador: Jose Gabriel Rodriguez Rivas
### Alumno: Tiffany Hannay Guerrero
### Practica 3: tablas de frecuencias

In [2]:
#basado en el libro estadistica para administracion pagina 12
#creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
#hacemos un ciclo para generar 100 numneros aleatorios que representan la edad de las personas
for i in range (100):
#generaamos un numero aleatorio con la funcion randint y lo guardamos en la variable
#nunero_aleatorio
 numero_aleatorio = random.randint(18,70)
#agregamos el numero aleatorio a la lista de valores
 edades.append(numero_aleatorio)
print(edades)

[66, 68, 67, 49, 28, 64, 25, 28, 40, 65, 27, 68, 36, 44, 49, 27, 61, 41, 28, 23, 30, 19, 53, 26, 45, 55, 32, 59, 27, 22, 69, 54, 19, 22, 28, 36, 69, 63, 50, 23, 62, 47, 18, 34, 56, 23, 32, 65, 20, 46, 63, 20, 67, 52, 35, 24, 42, 37, 35, 27, 31, 55, 32, 20, 47, 67, 32, 57, 49, 52, 67, 21, 44, 39, 70, 23, 25, 43, 67, 29, 65, 66, 34, 47, 50, 38, 70, 24, 56, 28, 55, 35, 65, 21, 56, 33, 41, 40, 34, 27]

In [3]:
import pandas as pd

In [4]:
#crear un DataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    66
1    68
2    67
3    49
4    28

In [5]:
#calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edad')

#imprimir la tabla de distribucion de frecuencias
print("Tabla de Distrubución de Frecuencias: ")
tabla_frecuencias

Tabla de Distrubución de Frecuencias:

    Edad  Frecuencia
33    18           1
13    19           2
11    20           3
19    21           2
27    22           2
3     23           4
25    24           2
16    25           2
38    26           1
1     27           5
2     28           5
46    29           1
29    30           1
41    31           1
5     32           4
48    33           1
9     34           3
10    35           3
21    36           2
42    37           1
47    38           1
44    39           1
23    40           2
20    41           2
40    42           1
45    43           1
22    44           2
37    45           1
39    46           1
12    47           3
6     49           3
17    50           2
18    52           2
32    53           1
35    54           1
7     55           3
8     56           3
43    57           1
36    59           1
30    61           1
34    62           1
24    63           2
31    64           1
4     65           4
14    66           2
0     67           5
15    68           2
26    69           2
28    70           2

In [6]:
tabla_frecuencias['Frec Relatuva'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relatuva
33    18           1           0.01
13    19           2           0.02
11    20           3           0.03
19    21           2           0.02
27    22           2           0.02
3     23           4           0.04
25    24           2           0.02
16    25           2           0.02
38    26           1           0.01
1     27           5           0.05
2     28           5           0.05
46    29           1           0.01
29    30           1           0.01
41    31           1           0.01
5     32           4           0.04
48    33           1           0.01
9     34           3           0.03
10    35           3           0.03
21    36           2           0.02
42    37           1           0.01
47    38           1           0.01
44    39           1           0.01
23    40           2           0.02
20    41           2           0.02
40    42           1           0.01
45    43           1           0.01
22    44           2           0.02
37    45           1           0.01
39    46           1           0.01
12    47           3           0.03
6     49           3           0.03
17    50           2           0.02
18    52           2           0.02
32    53           1           0.01
35    54           1           0.01
7     55           3           0.03
8     56           3           0.03
43    57           1           0.01
36    59           1           0.01
30    61           1           0.01
34    62           1           0.01
24    63           2           0.02
31    64           1           0.01
4     65           4           0.04
14    66           2           0.02
0     67           5           0.05
15    68           2           0.02
26    69           2           0.02
28    70           2           0.02

In [8]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia'] / 100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relatuva  Frec Porcentual
33    18           1           0.01              1.0
13    19           2           0.02              2.0
11    20           3           0.03              3.0
19    21           2           0.02              2.0
27    22           2           0.02              2.0
3     23           4           0.04              4.0
25    24           2           0.02              2.0
16    25           2           0.02              2.0
38    26           1           0.01              1.0
1     27           5           0.05              5.0
2     28           5           0.05              5.0
46    29           1           0.01              1.0
29    30           1           0.01              1.0
41    31           1           0.01              1.0
5     32           4           0.04              4.0
48    33           1           0.01              1.0
9     34           3           0.03              3.0
10    35           3           0.03              3.0
21    36           2           0.02              2.0
42    37           1           0.01              1.0
47    38           1           0.01              1.0
44    39           1           0.01              1.0
23    40           2           0.02              2.0
20    41           2           0.02              2.0
40    42           1           0.01              1.0
45    43           1           0.01              1.0
22    44           2           0.02              2.0
37    45           1           0.01              1.0
39    46           1           0.01              1.0
12    47           3           0.03              3.0
6     49           3           0.03              3.0
17    50           2           0.02              2.0
18    52           2           0.02              2.0
32    53           1           0.01              1.0
35    54           1           0.01              1.0
7     55           3           0.03              3.0
8     56           3           0.03              3.0
43    57           1           0.01              1.0
36    59           1           0.01              1.0
30    61           1           0.01              1.0
34    62           1           0.01              1.0
24    63           2           0.02              2.0
31    64           1           0.01              1.0
4     65           4           0.04              4.0
14    66           2           0.02              2.0
0     67           5           0.05              5.0
15    68           2           0.02              2.0
26    69           2           0.02              2.0
28    70           2           0.02              2.0

In [9]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relatuva  Frec Porcentual  Frec Acumulada
33    18           1           0.01              1.0               1
13    19           2           0.02              2.0               3
11    20           3           0.03              3.0               6
19    21           2           0.02              2.0               8
27    22           2           0.02              2.0              10
3     23           4           0.04              4.0              14
25    24           2           0.02              2.0              16
16    25           2           0.02              2.0              18
38    26           1           0.01              1.0              19
1     27           5           0.05              5.0              24
2     28           5           0.05              5.0              29
46    29           1           0.01              1.0              30
29    30           1           0.01              1.0              31
41    31           1           0.01              1.0              32
5     32           4           0.04              4.0              36
48    33           1           0.01              1.0              37
9     34           3           0.03              3.0              40
10    35           3           0.03              3.0              43
21    36           2           0.02              2.0              45
42    37           1           0.01              1.0              46
47    38           1           0.01              1.0              47
44    39           1           0.01              1.0              48
23    40           2           0.02              2.0              50
20    41           2           0.02              2.0              52
40    42           1           0.01              1.0              53
45    43           1           0.01              1.0              54
22    44           2           0.02              2.0              56
37    45           1           0.01              1.0              57
39    46           1           0.01              1.0              58
12    47           3           0.03              3.0              61
6     49           3           0.03              3.0              64
17    50           2           0.02              2.0              66
18    52           2           0.02              2.0              68
32    53           1           0.01              1.0              69
35    54           1           0.01              1.0              70
7     55           3           0.03              3.0              73
8     56           3           0.03              3.0              76
43    57           1           0.01              1.0              77
36    59           1           0.01              1.0              78
30    61           1           0.01              1.0              79
34    62           1           0.01              1.0              80
24    63           2           0.02              2.0              82
31    64           1           0.01              1.0              83
4     65           4           0.04              4.0              87
14    66           2           0.02              2.0              89
0     67           5           0.05              5.0              94
15    68           2           0.02              2.0              96
26    69           2           0.02              2.0              98
28    70           2           0.02              2.0             100