<a href="https://colab.research.google.com/github/25040992-hann/Probabilidad-/blob/main/Unidad1/practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y Estadística
## Unidad 1
### Facilitador: Jose Gabriel Rodriguez Rivas
### Alumno: Tiffany Hannay Guerrero
### Practica 3: tablas de frecuencias

In [2]:
#basado en el libro estadistica para administracion pagina 12
#creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
#hacemos un ciclo para generar 100 numneros aleatorios que representan la edad de las personas
for i in range (100):
#generaamos un numero aleatorio con la funcion randint y lo guardamos en la variable
#nunero_aleatorio
 numero_aleatorio = random.randint(18,70)
#agregamos el numero aleatorio a la lista de valores
 edades.append(numero_aleatorio)
print(edades)

[30, 49, 23, 46, 56, 40, 19, 28, 38, 30, 65, 30, 23, 63, 52, 44, 26, 25, 61, 39, 19, 31, 67, 45, 29, 60, 29, 25, 39, 57, 25, 50, 28, 20, 55, 64, 67, 26, 58, 21, 39, 50, 35, 44, 33, 25, 53, 52, 54, 66, 47, 52, 70, 57, 54, 60, 19, 32, 62, 62, 35, 52, 47, 23, 28, 55, 62, 54, 46, 70, 47, 42, 67, 61, 28, 35, 37, 65, 18, 36, 53, 31, 62, 42, 45, 64, 40, 18, 24, 37, 53, 46, 38, 62, 23, 51, 37, 43, 32, 33]

In [4]:
import pandas as pd

In [5]:
#crear un DataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    30
1    49
2    23
3    46
4    56

In [7]:
#calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edad')

#imprimir la tabla de distribucion de frecuencias
print("Tabla de Distrubución de Frecuencias: ")
tabla_frecuencias

Tabla de Distrubución de Frecuencias:

    Edad  Frecuencia
15    18           2
5     19           3
39    20           1
37    21           1
4     23           4
42    24           1
3     25           4
24    26           2
2     28           4
28    29           2
11    30           3
26    31           2
16    32           2
31    33           2
6     35           3
41    36           1
14    37           3
18    38           2
9     39           3
17    40           2
21    42           2
44    43           1
20    44           2
27    45           2
12    46           3
13    47           3
35    49           1
30    50           2
43    51           1
1     52           4
8     53           3
7     54           3
29    55           2
36    56           1
22    57           2
38    58           1
23    60           2
25    61           2
0     62           5
34    63           1
32    64           2
19    65           2
40    66           1
10    67           3
33    70           2

In [8]:
tabla_frecuencias['Frec Relatuva'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relatuva
15    18           2           0.02
5     19           3           0.03
39    20           1           0.01
37    21           1           0.01
4     23           4           0.04
42    24           1           0.01
3     25           4           0.04
24    26           2           0.02
2     28           4           0.04
28    29           2           0.02
11    30           3           0.03
26    31           2           0.02
16    32           2           0.02
31    33           2           0.02
6     35           3           0.03
41    36           1           0.01
14    37           3           0.03
18    38           2           0.02
9     39           3           0.03
17    40           2           0.02
21    42           2           0.02
44    43           1           0.01
20    44           2           0.02
27    45           2           0.02
12    46           3           0.03
13    47           3           0.03
35    49           1           0.01
30    50           2           0.02
43    51           1           0.01
1     52           4           0.04
8     53           3           0.03
7     54           3           0.03
29    55           2           0.02
36    56           1           0.01
22    57           2           0.02
38    58           1           0.01
23    60           2           0.02
25    61           2           0.02
0     62           5           0.05
34    63           1           0.01
32    64           2           0.02
19    65           2           0.02
40    66           1           0.01
10    67           3           0.03
33    70           2           0.02