<a href="https://colab.research.google.com/github/25040992-hann/Probabilidad-/blob/main/Unidad1/registros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from matplotlib import pyplot

In [2]:
#cargar el archivo CSV en una variable llamda covid
covid = pd.read_csv("20-06-30-COVID19MEXICO - codificado.csv", encoding = "ISO-8859-1")

In [3]:
#mostramos los primeros 5 registros del archivo
covid.head()

,ï»¿ORIGEN,SECTOR,SEXO,ENTIDAD_NAC,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,...,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO,UCI
0,1,4,Hombre,Zacatecas,Hospitalizado,27/03/2020,27/03/2020,9999-99-99,No,No,...,No,No,No,No,No,No,No,No,Negativo,No
1,1,12,Hombre,Zacatecas,Hospitalizado,06/04/2020,02/04/2020,9999-99-99,No,Si,...,No,No,No,No,No,No,No,No,Negativo,No
2,1,12,Mujer,Zacatecas,Hospitalizado,15/04/2020,12/04/2020,9999-99-99,No,Si,...,No,No,Si,No,No,No,No,No,Negativo,No
3,2,12,Mujer,Zacatecas,Hospitalizado,08/05/2020,08/05/2020,9999-99-99,Si,No,...,No,No,No,No,No,No,No,No,Negativo,Si
4,2,12,Mujer,Zacatecas,Hospitalizado,08/05/2020,08/05/2020,9999-99-99,Si,No,...,No,No,No,No,No,No,No,No,Negativo,Si

In [4]:
#mostrar la informacion del archivo
#muestra el numero de registros, tipos de datos de la columna, valores nulos, memoria
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23677 entries, 0 to 23676
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ï»¿ORIGEN       23677 non-null  int64
 1   SECTOR          23677 non-null  int64
 2   SEXO            23677 non-null  object
 3   ENTIDAD_NAC     23677 non-null  object
 4   TIPO_PACIENTE   23677 non-null  object
 5   FECHA_INGRESO   23677 non-null  object
 6   FECHA_SINTOMAS  23677 non-null  object
 7   FECHA_DEF       23677 non-null  object
 8   INTUBADO        23677 non-null  object
 9   NEUMONIA        23677 non-null  object
 10  EDAD            23677 non-null  int64
 11  EMBARAZO        23677 non-null  object
 12  DIABETES        23677 non-null  object
 13  EPOC            23677 non-null  object
 14  ASMA            23677 non-null  object
 15  INMUSUPR        23677 non-null  object
 16  HIPERTENSION    23677 non-null  object
 17  CARDIOVASCULAR  23677 non-null  object
 18  OBESIDAD        23677 non-null  object
 19  RENAL_CRONICA   23677 non-null  object
 20  TABAQUISMO      23677 non-null  object
 21  RESULTADO       23676 non-null  object
 22  UCI             23676 non-null  object
dtypes: int64(3), object(20)
memory usage: 4.2+ MB